<a href="https://colab.research.google.com/github/ZenBurrito/Predicting-Covid-19-Outbreaks/blob/test/Copy_of_Pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Data
import requests
import csv

#EDA and Visualizations
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#modeling
from nltk.tokenize import TweetTokenizer, word_tokenize
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import precision_score, accuracy_score, recall_score, f1_score, confusion_matrix, mean_squared_error, roc_curve, auc, roc_auc_score
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import chi2
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import psutil

import datetime

### Google Trends Data

In [2]:
google = pd.read_csv('/covid_searches.csv')
google

                         Category: All categories
Week        Symptoms of COVID-19: (United States)
2020-05-03                                     35
2020-05-10                                     34
2020-05-17                                     32
2020-05-24                                     30
...                                           ...
2021-12-12                                     34
2021-12-19                                     56
2021-12-26                                     78
2022-01-02                                     81
2022-01-09                                     73

[90 rows x 1 columns]

In [3]:
google.reset_index(inplace=True)

google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     90 non-null     object
 1   Category: All categories  90 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [4]:
google.drop(index=google.index[0], 
        axis=0, 
        inplace=True)

In [5]:
google['date'] = google['index']
google['relevance'] = google['Category: All categories']

google.drop(columns='index', inplace=True)
google.drop(columns='Category: All categories', inplace=True)

google

          date relevance
1   2020-05-03        35
2   2020-05-10        34
3   2020-05-17        32
4   2020-05-24        30
5   2020-05-31        27
..         ...       ...
85  2021-12-12        34
86  2021-12-19        56
87  2021-12-26        78
88  2022-01-02        81
89  2022-01-09        73

[89 rows x 2 columns]

In [6]:
google['date'] = pd.to_datetime(google['date'])

google['relevance'] = google['relevance'].astype(int)

google['outbreak'] = [x for x in google['relevance'] > 50]

In [7]:
google.head(21)

         date  relevance  outbreak
1  2020-05-03         35     False
2  2020-05-10         34     False
3  2020-05-17         32     False
4  2020-05-24         30     False
5  2020-05-31         27     False
6  2020-06-07         32     False
7  2020-06-14         50     False
8  2020-06-21         74      True
9  2020-06-28         88      True
10 2020-07-05         93      True
11 2020-07-12         87      True
12 2020-07-19         68      True
13 2020-07-26         66      True
14 2020-08-02         65      True
15 2020-08-09         53      True
16 2020-08-16         46     False
17 2020-08-23         44     False
18 2020-08-30         45     False
19 2020-09-06         43     False
20 2020-09-13         43     False
21 2020-09-20         46     False

In [8]:
google.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89 entries, 1 to 89
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       89 non-null     datetime64[ns]
 1   relevance  89 non-null     int64
 2   outbreak   89 non-null     bool
dtypes: bool(1), datetime64[ns](1), int64(1)
memory usage: 2.2 KB

### CDC Data

In [9]:
CDC = pd.read_csv('/USA_covid_stats.csv')
CDC

      submission_date state  ...  consent_cases  consent_deaths
0          03/11/2021    KS  ...          Agree             NaN
1          06/11/2021    TX  ...      Not agree       Not agree
2          01/02/2022    AS  ...            NaN             NaN
3          08/22/2020    AR  ...      Not agree       Not agree
4          07/17/2020    MP  ...          Agree           Agree
...               ...   ...  ...            ...             ...
43135      05/28/2020    IA  ...      Not agree       Not agree
43136      06/07/2020    SD  ...            NaN           Agree
43137      04/30/2021    SD  ...            NaN           Agree
43138      03/10/2021    SD  ...            NaN           Agree
43139      05/27/2021    OH  ...          Agree           Agree

[43140 rows x 15 columns]

In [10]:
CDC['date'] = CDC['submission_date']

CDC.drop(columns='submission_date', axis=0, inplace=True)

In [11]:
col = ['state', 'conf_cases', 'prob_cases', 'pnew_case', 'conf_death', 'prob_death', 'pnew_death', 'created_at', 'consent_cases', 'consent_deaths']

CDC.drop(columns=col, inplace=True)

In [12]:
CDC.dropna(how='all', inplace=True)

In [13]:
CDC['date'] = pd.to_datetime(CDC['date']).dt.normalize()

In [14]:
CDC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43140 entries, 0 to 43139
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tot_cases  43140 non-null  int64
 1   new_case   43140 non-null  int64
 2   tot_death  43140 non-null  int64
 3   new_death  43140 non-null  int64
 4   date       43140 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 2.0 MB

In [15]:
CDC.isna().sum()

tot_cases    0
new_case     0
tot_death    0
new_death    0
date         0
dtype: int64

In [16]:
CDC

       tot_cases  new_case  tot_death  new_death       date
0         297229         0       4851          0 2021-03-11
1        2965966      1463      51158         17 2021-06-11
2             11         0          0          0 2022-01-02
3          56199       547        674         11 2020-08-22
4             37         1          2          0 2020-07-17
...          ...       ...        ...        ...        ...
43135      18585       228        506         14 2020-05-28
43136       5438        71         65          0 2020-06-07
43137     122660       128       1967          5 2021-04-30
43138     113962       209       1904          3 2021-03-10
43139    1100312       732      19753          0 2021-05-27

[43140 rows x 5 columns]

### Twitter Data

In [17]:
tweets = pd.read_csv('/covid_tweets.csv')
tweets.head()

         user_name         user_location  ...               source is_retweet
0           ᏉᎥ☻լꂅϮ            astroworld  ...   Twitter for iPhone      False
1    Tom Basile 🇺🇸          New York, NY  ...  Twitter for Android      False
2  Time4fisticuffs      Pewee Valley, KY  ...  Twitter for Android      False
3      ethel mertz  Stuck in the Middle   ...   Twitter for iPhone      False
4         DIPR-J&K     Jammu and Kashmir  ...  Twitter for Android      False

[5 rows x 13 columns]

In [18]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [19]:
column = ['user_name','user_location','user_description','user_created','user_followers','hashtags', 'user_favourites','user_verified','is_retweet', 'source', 'user_friends']

tweets.drop(columns=column, inplace=True)

In [20]:
tweets['date'] = pd.DatetimeIndex(tweets['date']).normalize()

In [21]:
tweets = tweets.groupby(['text', pd.Grouper(key='date', freq='W-SUN')]).sum().reset_index().sort_values('date')

In [22]:
tweets

                                                     text       date
108519  Join HealthCube's Ramanan Laxminarayan alongsi... 2020-07-26
26897   100 and 40 bedded field hospitals established ... 2020-07-26
75618   Cures/vaccines for #covid19\n1Mangaluru congre... 2020-07-26
75627   Curious Times Weekly 📰#Space🎑 #Mars #forks in ... 2020-07-26
75628   Curious about #COVID19? Expert pathologist @Cl... 2020-07-26
...                                                   ...        ...
71261   Cases: 25,009,250 (+11,923) \nDeaths: 842,702 ... 2020-08-30
71262   Cases: 25,009,739 (+489) \nDeaths: 842,709 (+7... 2020-08-30
71263   Cases: 25,015,362 (+5,623) \nDeaths: 842,778 (... 2020-08-30
118089  MzansiReader App. Link in the bio to download ... 2020-08-30
0       ! An approximate million more infected in ever... 2020-08-30

[178894 rows x 2 columns]

In [23]:
tweets.date.value_counts()

2020-08-16    42340
2020-08-02    42210
2020-08-09    30738
2020-08-23    26527
2020-07-26    24633
2020-08-30    12446
Name: date, dtype: int64

In [24]:
!pip install texthero

Collecting texthero
  Downloading texthero-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: wordcloud>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.5.0)
Requirement already satisfied: pandas>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.1.5)
Requirement already satisfied: plotly>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (4.4.1)
Collecting nltk>=3.3
  Downloading nltk-3.6.7-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 7.2 MB/s
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.0.2)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.2.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.19.5)
Collecting unidecode>=1.1.1
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 48.6 MB/s
Requirement already satisfied: spacy<3.0.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (2.2.4)
Requirement already satisfied: gensim<4.0,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.6.0)
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.7/dist-packages (from texthero) (4.62.3)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (1.15.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (5.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (3.0.6)
Collecting regex>=2021.8.3
  Downloading regex-2022.1.18-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (748 kB)
     |████████████████████████████████| 748 kB 51.7 MB/s
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.2->texthero) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.2.0->texthero) (1.3.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->texthero) (3.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (57.4.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.6)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (2.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (2.23.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (3.0.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (0.4.1)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (7.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (0.9.0)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (4.10.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (3.10.0.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (1.24.3)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from wordcloud>=1.5.0->texthero) (7.1.2)
Installing collected packages: regex, unidecode, nltk, texthero
  Attempting uninstall: regex
    Found existing installation: regex 2019.12.20
    Uninstalling regex-2019.12.20:
      Successfully uninstalled regex-2019.12.20
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.6.7 regex-2022.1.18 texthero-1.1.0 unidecode-1.3.2

In [25]:
tweets.isna().sum()

text    0
date    0
dtype: int64

In [26]:
import texthero as hero

tweets['text'] = hero.clean(tweets['text'])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [27]:
vax_tw = pd.read_csv('/vaccination_tweets.csv')
vax_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11020 entries, 0 to 11019
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                11020 non-null  int64
 1   user_name         11020 non-null  object
 2   user_location     8750 non-null   object
 3   user_description  10341 non-null  object
 4   user_created      11020 non-null  object
 5   user_followers    11020 non-null  int64
 6   user_friends      11020 non-null  int64
 7   user_favourites   11020 non-null  int64
 8   user_verified     11020 non-null  bool
 9   date              11020 non-null  object
 10  text              11020 non-null  object
 11  hashtags          8438 non-null   object
 12  source            11019 non-null  object
 13  retweets          11020 non-null  int64
 14  favorites         11020 non-null  int64
 15  is_retweet        11020 non-null  bool
dtypes: bool(2), int64(6), object(8)
memory usage: 1.2+ MB

In [28]:
cols = ['id','user_name','user_location','user_description','user_created','user_followers','user_favourites','user_verified','hashtags','source','retweets','favorites','is_retweet', 'user_friends']
vax_tw.drop(columns=cols, inplace=True)

In [29]:
vax_tw['date'] = pd.DatetimeIndex(vax_tw['date']).normalize()

vax_tw = vax_tw.groupby(['text', pd.Grouper(key='date', freq='W-SUN')]).sum().reset_index().sort_values('date')

In [30]:
vax_tw['text'] = hero.clean(vax_tw['text'])

vax_tw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11014 entries, 7007 to 1927
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    11014 non-null  object
 1   date    11014 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 258.1+ KB

## Combining Dataframes

In [82]:
tweet = tweets.sample(frac=0.5)

df = [tweet, google, vax_tw]

tash = tweet.merge(google, how='inner', on='date')

In [83]:
from functools import reduce

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['date'],
                                            how='outer'), df)

In [84]:
df_merged['text_x'].fillna(df_merged['text_y'], inplace=True)

In [85]:
df_merged.drop(columns='text_y', inplace=True)

In [91]:
df_merged.dropna(inplace=True)

In [92]:
df_merged.date.value_counts()

2020-08-16    21144
2020-08-02    21138
2020-08-09    15287
2020-08-23    13262
2020-07-26    12393
2020-08-30     6223
2021-01-10      867
2020-12-20      860
2021-01-17      792
2020-12-27      642
2021-01-24      595
2021-01-03      551
2021-01-31      535
2021-02-28      414
2021-02-21      354
2021-02-07      328
2021-08-29      324
2021-04-04      294
2021-03-21      268
2021-03-14      264
2021-03-07      263
2021-05-30      241
2021-02-14      240
2021-03-28      227
2021-04-18      203
2021-05-23      177
2021-04-11      175
2021-06-20      163
2020-12-13      161
2021-07-18      156
2021-07-25      151
2021-08-22      144
2021-08-15      140
2021-08-01      133
2021-08-08      120
2021-10-10      119
2021-07-11      113
2021-09-26      107
2021-05-16      102
2021-09-12       99
2021-09-05       97
2021-10-03       93
2021-06-27       90
2021-11-14       57
2021-11-07       55
2021-09-19       49
2021-11-21       46
2021-04-25       43
2021-06-13       43
2021-10-24       40
2021-10-17       35
2021-06-06       29
2021-11-28       15
Name: date, dtype: int64

In [93]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100461 entries, 0 to 100490
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   text_x     100461 non-null  object
 1   date       100461 non-null  datetime64[ns]
 2   relevance  100461 non-null  int64
 3   outbreak   100461 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 3.2+ MB

## Functions

In [38]:
def tokenize(tweet):
    tknzr = TweetTokenizer(strip_handles=True, reduce_len=True, 
                           preserve_case=False)
    return tknzr.tokenize(tweet)

In [39]:
def classifiers(x_train, y_train):
    nb  = MultinomialNB()
    nb.fit(x_train, y_train)
    log = LogisticRegression()
    log.fit(x_train, y_train)
    forest = RandomForestClassifier(n_estimators=100, max_depth=5)
    forest.fit(x_train, y_train)
    gradboost = GradientBoostingClassifier(random_state=123, max_depth=5, 
                                          learning_rate = 0.01)
    gradboost.fit(x_train, y_train)
    adaboost = AdaBoostClassifier(n_estimators=100)
    adaboost.fit(x_train, y_train)
    svm = SVC(kernel='linear', probability=True)
    svm.fit(x_train, y_train)
    return [nb, log, forest, gradboost, adaboost, svm]

In [40]:
def classifier_performance(vectorizer, train_data, test_data, y_test):
    accuracy_df = []
    x_train = vectorizer.fit_transform(train_data)
    x_test = vectorizer.transform(test_data)
    
    classifier_list = classifiers(x_train, y_train)
    for i in classifier_list:
        preds = i.predict(x_test)
        accuracy = accuracy_score(y_test, preds)
  
    accuracy_df = pd.DataFrame(accuracy_df)
    classifiers_key = ['Naive Bayes', 'Random Forest', 'Gradient Boost',
                      'AdaBoost', 'Support Vector Machine']
    accuracy_df['Model'] = classifiers_key
    accuracy_df.rename(columns={0: 'Accuracy'}, inplace=True)
    fin_accuracy_df = accuracy_df[['Model', 'Accuracy']]
    return fin_accuracy_df

In [41]:
def model_performance(model, vectorizer):
  
    train_data = vectorizer.fit_transform(x_train)
    test_data = vectorizer.transform(x_test)

    model.fit(train_data, y_train)

    pred = model.predict(test_data)

    return f'{model}', accuracy_score(y_test, pred)

In [42]:
def griddy(model, params, vectorizer):
  X_train = vectorizer.fit_transform(x_train)
  X_test = vectorizer.transform(x_test)

  grid = GridSearchCV(estimator=model, param_grid=params, n_jobs=-1, cv=6)
  grid.fit(X_train, y_train)

  return [grid.best_params_, grid.accuracy_score, grid.recall_score]

## Count Vectorization

In [94]:
data = df_merged['text_x']
labels = df_merged['relevance']
x_train, x_test, y_train, y_test = train_test_split(data, labels)
tfidfvec = TfidfVectorizer(stop_words='english', tokenizer=tokenize)
tfidfvec2 = TfidfVectorizer(stop_words='english', tokenizer=tokenize, ngram_range=(1,2))
tfidfvec3 = TfidfVectorizer(stop_words='english', tokenizer=tokenize, ngram_range=(1,3))
countvec = CountVectorizer(stop_words='english', tokenizer=tokenize)
countvec2 = CountVectorizer(stop_words='english', tokenizer=tokenize, ngram_range=(1,2))
countvec3 = CountVectorizer(stop_words='english', tokenizer=tokenize, ngram_range=(1,3))

In [95]:
nb  = MultinomialNB()

In [96]:
model_performance(nb, countvec)

('MultinomialNB()', 0.29124860646599776)

In [45]:
forest = RandomForestClassifier(n_estimators=100, max_depth=5)

In [ ]:
model_performance(forest, countvec)

In [ ]:
gradboost = GradientBoostingClassifier(random_state=123, max_depth=5, learning_rate = 0.01)
model_performance(gradboost, countvec)

In [ ]:
adaboost = AdaBoostClassifier(n_estimators=100)
model_performance(adaboost, countvec)

### Bigram

In [ ]:
model_performance(nb, countvec2)

In [ ]:
model_performance(forest, countvec2)

In [ ]:
model_performance(gradboost, countvec2)

In [ ]:
model_performance(adaboost, countvec2)

### Trigram

In [ ]:
model_performance(nb, countvec3)

In [ ]:
model_performance(forest, countvec3)

In [ ]:
model_performance(gradboost, countvec3)

In [ ]:
model_performance(adaboost, countvec3)

## TF-IDF Vectorization

### Unigram

In [ ]:
model_performance(nb, tfidfvec)

In [ ]:
model_performance(forest, tfidfvec)

In [ ]:
model_performance(gradboost, tfidfvec)

In [ ]:
model_performance(adaboost, tfidfvec)

### Bigram

In [ ]:
model_performance(nb, tfidfvec2)

In [ ]:
model_performance(forest, tfidfvec2)

In [ ]:
model_performance(gradboost, tfidfvec2)

In [ ]:
model_performance(adaboost, tfidfvec2)

### Trigram

In [ ]:
model_performance(nb, tfidfvec3)

In [ ]:
model_performance(forest, tfidfvec3)

In [ ]:
model_performance(gradboost, tfidfvec3)

In [ ]:
model_performance(adaboost, tfidfvec3)

## Improving models

-> Trying to improve the best performing models from the previous cells

In [46]:
X_train = countvec3.fit_transform(x_train)
X_test = countvec3.transform(x_test)

param_grid = {'alpha': [1, 5, 10, 50, 100]}

clf = GridSearchCV(estimator=nb, param_grid=param_grid, n_jobs=-1, cv=6, scoring='accuracy')
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning:

A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.

GridSearchCV(cv=6, estimator=MultinomialNB(), n_jobs=-1,
             param_grid={'alpha': [1, 5, 10, 50, 100]}, scoring='accuracy')

In [ ]:
clf.best_params_

In [47]:
def griddy(model, params, vectorizer):
  X_train = vectorizer.fit_transform(x_train)
  X_test = vectorizer.transform(x_test)

  grid = GridSearchCV(estimator=model, param_grid=params, n_jobs=-1, cv=6)
  grid.fit(X_train, y_train)

  return [grid.best_params_, grid.accuracy_score, grid.recall_score]

In [50]:
params = {'criterion' : ['gini', 'entropy'],
          'max_depth' : [3, 4, 5, 6, 7, 8],
          'min_samples_split' : [2, 4, 6, 8, 10],
          'min_samples_leaf' : [1, 2, 3, 4, 5],
          'n_estimators' : [10, 25, 50, 100, 150, 200],
          'bootstrap' : [True, False]}

griddy(forest, params, countvec3)

KeyboardInterrupt: ignored